.table-css {
    border: none;
    border-radius: 70%;
    /* border: solid !important; */
    border-collapse: separate;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f1f1f1;
    color: rgb(32, 26, 26);
    padding: 30px;
    height: 20px;
}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
    padding: 2px;
}
td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

table tbody tr td {
    padding: 10px;
    background-color: white;
    text-align: center;
    width: 300px;
    font-size: small;
}
table thead tr {
    height: 30px;
}

table {
    border-collapse: collapse;
    border-spacing: 0 12px;
}

table thead tr th {
    padding-top: 36px !important;
    padding-bottom: 0;
    font-size: x-small;
    text-align: center;
}
.single-line-header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* #react-select-2-input {
    min-width: 143px !important;
    max-width: 143px !important;
    width: 143px !important;
}
.css-13cymwt-control {
    min-width: 143px !important;
    max-width: 143px !important;
    width: 143px !important;
} */
/* .css-13cymwt-control {
    width: 202px !important;
}
.css-w9q2zk-Input2 {
    width: 0;
} */
/* .fixed-w {
    min-width: 100px !important;
    max-width: 120px !important;
} */
.css-w9q2zk-Input2 {
    padding: 0 70px;
}
