.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
}

.sidebar a.active {
    background-color: #292323;
    color: white;
    text-decoration: underline;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    text-decoration: underline;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
a:hover {
    color: rgb(185, 157, 196) !important;
}
