@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Centra No1', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

#root * {
    font-family: 'Centra No1';
}

@font-face {
    font-family: 'Centra No1';
    src: url('./assets/fonts/CentraNo1-Thin.ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centra No1';
    src: url('./assets/fonts/CentraNo1-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Centra No1';
    src: url('./assets/fonts/CentraNo1-Book.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Centra No1';
    src: url('./assets/fonts/CentraNo1-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centra No1';
    src: url('./assets/fonts/CentraNo1-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centra No1';
    src: url('./assets/fonts/CentraNo1-Extrabold.ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

.layout {
    position: fixed;
    width: calc(100% - 200px);
    left: 200px;
    height: 100vh;
    overflow: scroll;
}

.head {
    text-align: right;
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}

a,
.sidebar a.active,
a:hover {
    text-decoration: none;
}

.layout:not(.head) {
    background: #f1f1f1;
}

table thead tr th {
    padding-top: 10px !important;
}

table tbody tr:hover {
    box-shadow: 0px 0px 6px 3px #cacaca;
    transition: 0.3s all;
    border-radius: 10px;
}

input:hover {
    cursor: pointer;
}

.select-options {
    padding: 0 70px;
}
